@import "./_variables.scss";

form {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-self: center;
    align-items: center;
    align-content: center;

    h2 {
        width: 100%;
        color: rgb(27, 27, 27);
        font-weight: 400;
        font-size: 1.7rem;
        // display: none;
        // margin: 0 auto;
    }

    div {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 10px;

        input {
            width: 100%;
            padding: 7px;
            border: 1px solid gray;
            border-radius: 10px;
            outline: none;
            margin-top: 10px;
        }

        label {
            color: gray;
        }
    }

    input {
        width: 90%;
        padding: 7px;
        border: 1px solid gray;
        border-radius: 10px;
        outline: none;
        margin-top: 10px;
    }

    .btn {
        display: block;
        width: 20%;
        padding: 7px;
        border: 1px solid gray;
        border-radius: 10px;
        outline: none;
        margin-top: 10px;
        background-color: rgb(36, 80, 177);
        color: white;
        text-align: center;
    }

    @media (min-width: 768px) {
        width: 400px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-self: center;
        align-items: center;
        align-content: center;

        div {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 10px;

            input {
                width: 100%;
                padding: 7px;
                border: 1px solid gray;
                border-radius: 10px;
                outline: none;
                margin-top: 10px;
            }

            label {
                color: gray;
            }
        }

        .btn {
            width: 20%;
            // display: none;
            padding: 7px;
            border: 1px solid gray;
            border-radius: 10px;
            outline: none;
            margin-top: 10px;
            background-color: rgb(36, 80, 177);
            color: white;
            text-align: center;
        }
    }
}



.hero-text {
    display: none;
    flex-direction: column;
    // align-items: center;
    align-content: center;
    align-self: center;
    width: 100%;
    margin: 0 auto;

    button {
        width: 90%;
        border: 1px solid rgb(63, 63, 65);
        margin: 10px 0;
        padding: 15px 0;
        border-radius: 20px;
        color: rgb(63, 63, 65);
        cursor: pointer;
        margin: 10px auto;

        b {
            margin: 0;
            // margin-bottom: 20px;
        }
    }

    .agree {
        width: 90%;
        padding: 10px 0;
        border: 1px solid gray;
        border-radius: 10px;
        outline: none;
        margin-top: 10px;
        background-color: rgb(30, 101, 206);
        color: white;
        text-align: center;
    }

    .or {
        margin: auto;
        margin-top: 10px;
        color: rgb(33, 33, 34);

    }

    .term {
        width: 90%;
        // margin: 10px auto;
        text-align: center;
        color: rgb(63, 63, 65);
        line-height: 20px;
        font-size: 14px;

        a {
            text-decoration: none;
            font-size: 12px;

        }
    }

    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        // align-items: center;
        align-content: center;
        align-self: center;
        width: 400px;
        margin: 0 auto;

        button {
            width: 95%;
            border: 1px solid rgb(63, 63, 65);
            margin: 10px 0;
            padding: 15px 0;
            border-radius: 20px;
            color: rgb(63, 63, 65);
            cursor: pointer;

            b {
                margin: 0;
                // margin-bottom: 20px;
            }
        }

        .agree {
            width: 90%;
            padding: 7px;
            border: 1px solid gray;
            border-radius: 10px;
            outline: none;
            margin-top: 10px;
            background-color: rgb(30, 101, 206);
            color: white;
            text-align: center;
        }

        .or {
            margin: auto;
            margin-top: 10px;
            color: rgb(33, 33, 34);

        }

        .microsoft {
            @include flex;
            justify-content: center;
            gap: 20px;
            color: rgb(63, 63, 65);
            padding: 7px 0;

            img {
                width: 30px;
                height: 30px;
                // border-radius: 100%;
            }

            b {
                margin-top: 10px
            }
        }

        .google {
            @include flex;
            text-align: left;
            background-color: rgb(30, 101, 206);
            color: white;
            // border: none;
            padding: 7px 0;
            padding-left: 6px;

            img {
                width: 30px;
                height: 30px;
                border-radius: 100%;
            }

            p {
                margin: 0;
            }
        }

        .term {
            width: 90%;
            text-align: center;
            color: rgb(63, 63, 65);
            // line-height: 30px;
            font-size: 14px;

            a {
                text-decoration: none;
                font-size: 14px;

            }
        }
    }
}